div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/baseball.jpg");
  background-size: cover;
  } 
  
  h1 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align:center;
    font-size: 45px;
  }
  
  h2 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-align:center;
    font-size: 34px;
  }

  #pred {
      padding-bottom: 400px;
  }
  button {
    background-color: rgb(255, 255, 255);
    
}  
table {
  background-color: rgb(255, 255, 255);
  
} 
  